img {
    width: 255px;
}

.gallery {
    text-align: center;

}

.gallery-page h3,
.gallery-page h4 {
    margin-bottom: 10px;
}

.parent {
    display: inline-block;
    position: relative;
}

.text {
    display: none;
    text-align: center;
    color: orange;
    font-size: 30px;
}

.parent .text {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .5);
    top: 50%;
    margin-top: -22px;
    width: 100%;
    left: 0;
}

.parent:hover .text {
    display: block;
}

.menu {
    position: fixed;
    left: -160px;
    top: calc(50% - 130px);

}

.menu:hover {
    left: 0;
}

.menu_parts a {
    display: block;
    padding: 10px 15px;
    font-size: 30px;
    border: 1px solid orange;
    color: orange;
    background: rgb(2, 52, 52);
}

.menu_parts a:hover {
    color: beige;
}