.wrapper{
    width:  1200px;
    margin: 20px auto;
    font-size: 20px;
}

.font-size {
    font-size: 20px;
}

.wrapper div {
    outline: 1px solid rgb(2, 52, 52);
}

.small {
    width: 400px;
}

.middle {
    width: 600px;
}

.big {
    width: 800px;
}

.cell {
    display: table-cell;
}

.inline {
    display: inline-block;
    font-size: 20px;
}

.font-size-reset {
    font-size: 0;
}

.float {
    float: left;
}

.clr {
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.flex {
    display: flex;
}

.in_flex_middle {
    flex: 0 1 600px;
}

.in_flex_big {
    flex: 0 1 800px;
}

.in_flex_small {
    flex: 0 1 400px;
}

.grid {
    display: grid;
}

.gr_3c {
    grid-template-columns: repeat(3, 1fr);
}

.gr_2c {
    grid-template-columns: 1fr 1fr;
}

.gr_2c2 {
    grid-template-columns: 2fr 1fr;
}

.gr_2c2_r {
    grid-template-columns: 1fr 2fr;
}

.grid_areas {
    grid-template-areas: 
    "a b b c"
    "d d e e"
    "d d f f"
    "g g f f"
    "g g h h"
    "i i i j"
    "k l l j"
    "m n n n"
    "m o o p"
    "m o o q";
}

.gr_1 {
    grid-area: a;
}

.gr_2 {
    grid-area: b;
}

.gr_3 {
    grid-area: c;
}

.gr_4 {
    grid-area: d;
}

.gr_5 {
    grid-area: e;
}

.gr_6 {
    grid-area: f;
}

.gr_7 {
    grid-area: g;
}

.gr_8 {
    grid-area: h;
}

.gr_9 {
    grid-area: i;
}

.gr_10 {
    grid-area: j;
}

.gr_11 {
    grid-area: k;
}

.gr_12 {
    grid-area: l;
}

.gr_13 {
    grid-area: m;
}

.gr_14 {
    grid-area: n;
}

.gr_15 {
    grid-area: o;
}

.gr_16 {
    grid-area: p;
}

.gr_17 {
    grid-area: q;
}