.main {
    background-color: rgb(2, 52, 52);
    color: beige;
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    border: 15px double orange;
    width: 1200px;
    margin: 20px auto;
}

.main-heading {
    background-color: orange;
    font-size: 30px;
    color: rgb(2, 52, 52);
    text-align: center;
    margin-bottom: 30px;

}
.sub-heading {
    font-style: italic;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
}

h3 {
    text-decoration: underline wavy orange;
    text-align: center;
    font-size: 25px;
}

p span {
    font-style: italic;
    color: orange;
}

h2 + p {
    border: 3px dotted black;
    padding: 5px 20px;
}

h4 {
    font-size: 25px;
    text-align: center;
}

.section {
    margin-bottom: 20px;
}

.sub-section {
    margin-bottom: 15px;
}

a {
    color: darkblue;
    border: 3px solid orange;
    background-color: orange;
    text-decoration: none;
}